
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Reset CSS */
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

@font-face {
  font-family: 'SfDistantGalaxy';
  src: url("./fonts/SfDistantGalaxy-0l3d.ttf") format("truetype"),
    url("./fonts/SfDistantGalaxyAlternate-OE4d.ttf") format("truetype"),
    url("./fonts/SfDistantGalaxyAlternateItalic-3RDM.ttf") format("truetype"),
    url("./fonts/SfDistantGalaxyAltoutline-e2Bp.ttf") format("truetype"),
    url("./fonts/SfDistantGalaxySymbols-aylE.ttf") format("truetype"),
    url("./fonts/SfDistantGalaxyOutline-xoeO.ttf") format("truetype"),
    url("./fonts/SfDistantGalaxySymbols-aylE.ttf") format("truetype");
}



@media (max-width: 1000px){
  #root{
    font-size: 14px;
  }
}

@media (max-width: 768px){
  #root{
    font-size: 12px;
  }
}

@media (max-width: 600px){
  #root{
    font-size: 10px;
  }
}